*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    animation: delay 3s ease;
    background-color: #010208;
    color: white;
    overflow-x: hidden;

}
@keyframes delay{
    0%{opacity: 0;};
    50%{opacity: 0.5;};
    75%{opacity: 0.75;}
    100%{opacity: 1;}

}
/* header */
.nav-menu{
    display: flex;
    align-items: center;
    margin-right: clamp(2rem, 10vw, 10rem);
    
}
.nav-menu_logo{
    font-size: 33px;
    padding: 3rem;
    padding-left: clamp(1rem, 10vw, 22rem);
}
.nav-menu_firstMenu{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    margin-left: auto;
    

}
.nav-menu_firstMenu li{
    list-style-type: none;

}
.hamburger{
    cursor: pointer;
    z-index: 1002;
    display: none;
}
.nav-menu_firstMenu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-menu_button{
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #BC3CD8;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1002;
}
.nav-menu_button:hover{
    background-color: #a536be;
}
/* section */
.section_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
.section_info-title{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}
.section_info-title_button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;    
}
.section_info-1button{
    padding: 10px 10px 10px 15px;
    color: white;
    background-color: #B936F5;
    border: none;
    cursor: pointer ; 
    border-radius: 5px;
    font-size: 15px;
    margin-left: 16rem;
}
.section_info-1button:hover{
     background-color: #a536be;
}
.section_info-title_description{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:center;
    gap: 50px;
    min-width: 500px;
    margin: 0 16rem;
}
.section_info-title div h1{
    font-size: clamp(28px, 5vw, 42px);
    width: auto;
     max-width: 800px;

}

.section_info-title div p{
    font-size: 25px;
    
}
.section_info-img{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #534686;
    padding-bottom: 2rem;
    margin: 0 3rem;
    border-radius: 100px 100px 4rem 4rem;

}


.section_info-img p {
    max-width: 300px;
}
.section_info-img img{
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
    min-width: auto;
}

.section_info-title_button a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

/* section 2 */
.section_img_description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.section_img_description-img img{
    width: 100%;
    max-width: 300px;



}
.section_img_description-imgl{
    border: 1px solid #c1bbdb;
    box-shadow: 3px 10px 20px #534686,
    -3px -10px 20px #534686;
    border-radius: 20px;
    margin-top: 1rem;
    padding: 20px;

}
.section_img_description-imgl img{
    width: 100%;
    max-width: 300px;
    border-radius: 20px;



}
.section_img_description-img{
    border: 1px solid #c1bbdb;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20rem;
    box-shadow: 3px 10px 20px #534686,
    -3px -10px 20px #534686;
}
.section_img_description-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 30px;
    padding: 5rem;
    max-width: 600px;
    padding-left: 10rem;
}
.section_img_description-text button{
    padding: 10px 10px 10px 15px;
    color: white;
    background-color: #B936F5;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.section_img_description-text_button{
    cursor: pointer !important;
    z-index: 1000;
}
.section_img_description-text_button:hover{
    background-color: #a536be;
}
.section_img_description-text h2{
    font-size: 33px;
}
.section_img_description-text p{
    max-width: 350px;
}
.section_img_description-img1{
    border-radius: 20px;
}
/* aside */

.aside-title{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5rem;
    background-color: #534686;
    max-width: 1200px;
    padding: 20px;
    border-radius: 0px 30px 0px 0px;


}
.aside-title h3{
    font-size: 28px;
}
.aside-title img{
    width: 140px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 0px 30px 0px 0px !important; 
    
}

/* atricle grid */
.section_grid{
    margin: 5rem;

}
.grid_img{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Вместо 600px 400px */
    gap: 1rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
   
}
.grid_img_img{
    height: auto;
    min-height: 400px;
    width: 100%;
    position: relative;

    
}
.grid_img div div{
    position: relative;
    background-color: rgba(48, 48, 48, 0.63);
    filter: contrast(120%);
    margin-top: 200px;
    max-height: 100px;
    width: 100%;
    max-width: 290px;
    border-radius: 0px 20px 0px 20px;
}
.grid_img div img{
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 30px #534686,
    -5px -5px 30px #534686;
    max-width: 500px;

}
.grid_img div h3,.grid_img div p{
    position: absolute;
    z-index: 1000;
    


}

.grid_img div h3{
    top: 15px;
    left: 30px;
    font-size: 20px;
}
.grid_img div p{
    top:50px;
    left: 30px;
    width: 250px;
    font-size: 12px;
}
/* section 3 */
.section_reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_reviews-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #aa14f01f;
    border: 1px solid #b936f53b;
    height: 400px;
    width: 90%;
    max-width: 1150px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 30px;
    position: relative;
    
}
.section_reviews-title h3{
    font-size: 30px;
    
}
.section_reviews-title p{
    font-size: 20px;
    padding: 4rem;
    text-align: center;
    
}
.section_reviews-items{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4rem;
    width: 100%;
    max-width: 1200px;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;

    
}
.section_reviews-items_item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #b936f53b;
    background-color: #35074bc7;
    width: 400px;
    height: 280px;
    padding: 20px;
    border-radius: 30px;
    
}
.section_reviews-items_item:hover{
    transform: scale(1.1);

}
.section_reviews-items_item_star{
    color: yellow;
}
.section_reviews-items_item div{
    display: grid;
    grid-template-columns:80px 100px 100px;
}
.section_reviews-items_item div img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.section_reviews-items_item div p {
    width: 100px;
    height: 50px;
}
.telegram{
    color: #EB4468;
}
/* RBG */
.glowing-circle {
    width: 500px;
    height: 500px;
    border-radius:50%;
    background-color: #AA14F0;
    filter: blur(300px);
    position: absolute;
    z-index: 1;
}
.glowing-circle-end{
    width: 500px;
    height: 500px;
    border-radius:50%;
    background-color: #AA14F0;
    filter: blur(300px);
    position: absolute;
}
/* section 4 */
.section-company{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 50px;
}
.section-company_img{
display: grid;
align-items: center;
justify-content: center;
grid-template-columns: 150px 150px;
grid-column-gap: 2rem;
grid-row-gap: 2rem;
width: 500px;


}

.section-company_img img{
    width: 80px;
}
.section-company_title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    width: 500px;
    
}
.section-company_title h4{
    font-size: 40px;
    
}
.section-company_title p{
font-size: 16px;
}
/* section 5 */
.section_input{
    display: flex;
    justify-content: center;
}
.section_input-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c08537c;
    width: 90%;
    max-width: 1200px;
    height: 400px;
    margin-bottom: 100px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.section_input-img{
    margin-bottom: 10rem;
}
.section_input-img img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    margin-right: 5rem;
    border-radius: 0px 0px 100px 0px;
}
.section_input-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 5rem;
    gap: 20px;
}

.section_input-text form input{
    background-color: #17041f;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #350947;
}
.section_input-text form{
    display: flex;
    align-items: center;
    gap: 20px;
}
.section_input-text form button{
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    border: none;
    background-color: #C64C85;
    cursor: pointer;
    color: white;
}
.section_input-text form button:hover{
    background-color: #aa4272;

}
.glowing-circle-es{
    background-color: #AA14F0;
    filter: blur(400px);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    right: 20px;
}

/* Modal */
.section-modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(76, 46, 148, 0.459);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    animation: modal 0.5s ease;
    

}
@keyframes modal{
    0%{opacity: 0;};
    50%{opacity: 0.5;};
    75%{opacity: 0.75;}
    100%{opacity: 1;}

}
.section-modal_items{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin: 0 auto;
    background-color: #17041f;
    padding: 6rem;
    border-radius: 7rem;

}
.section-modal_items form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: end;
    
}

.section-modal_items button{
    padding: 0.8rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #B936F5;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    color: white;
    
}
.section-modal_items form div input{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #3e0a55;
    border: 1px solid #4f0c69;
    color: white;
    
}
.section-modal_items div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.section-modal_items p{
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media (max-width:1440px){
   .nav-menu{
    margin-right: 0;

   }
}

@media (max-width:1024px){
   .nav-menu{
    margin-right: 2rem;

   }
    .section_info-img{
        display: none;
    }
    .section_info{
        height: auto;
        min-height: 600px;
    }
    .section_img_description-img{
        width: 100%;
        max-width: 300px;
    }
    .section_img_description-imgl{
        width: 100%;
        max-width: 300px;
    }
    .section_img_description-text{
        padding: 0;
    }
    .nav-menu_firstMenu{
        flex-direction: column;
        position: fixed;
        top: 0;
        left:55%;
        background-color: #0c1549;
        height: 100%;

        z-index: 1002;
    }
    .hamburger{
        position: fixed;
        top: 1.8%;
        left: 62%;
        display: block;
        padding: 10px;
        background-color: #f1f1f100;
        border: none;
        font-size: 3rem;
        z-index: 1002;
        filter: invert(100%);
    }
    body{
        overflow-x: hidden;
    }
    .section-modal{
        width: 75%;
    }
}
